{% extends "bootstrap/base.html" %}

{%block content %}
<body style="background-color:DarkOrange;">
<header>My Preferences</header>



{% for item in values %}
  <p>Seating: {{item.seating}}, 
  	Take Out: {{item.take_out}}, 
    Delivery: {{item.delivery}},
    Curbside Pickup: {{item.curbside_pickup}},
    Social Distancing: {{item.social_distancing}}
    Disinfecting: {{item.disinfecting}}</p>
{% endfor %}
  <body>
    <form class="form-signin" method="POST" action="/mapviewer">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Show Restaurants</button>


    
  </form>

   <form class="form-signin" method="POST" action="/dashboard">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Show Yelp Reviews</button>
  </form>
   </body>

{% endblock %}
