{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<body style="background-color:DarkOrange;">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="{{ url_for('Show_Other_Users') }}">Show Other Users</a></li>
            <li><a href="{{ url_for('Show_My_Prefs') }}">My Preferences</a></li>

            <li><a href="{{ url_for('mapviewer') }}">Map Viewer</a></li>
            <li><a href="{{ url_for('yelp_output') }}">Yelp Reviews</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>


          </ul>
          
        </div>
      </div>
    </nav>

    
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>
<!--
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
-->
          <h2 class="sub-header">My Preferences</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Covid Compliance Criteria</th>
                  
                  
                </tr>
              </thead>
              
            </table>
          </div>
          <body>
    <form class="form-signin" method="POST" action="/dashboard">
    <h2 class="form-signin-heading">Set your restaurant preferences</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.seating) }}
    {{ wtf.form_field(form.take_out) }}
    {{ wtf.form_field(form.delivery) }}
    {{ wtf.form_field(form.curbside_pickup) }}
     {{ wtf.form_field(form.social_distancing) }}
    {{ wtf.form_field(form.disinfecting) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
   </body>

        </div>
      </div>
    </div>

{% endblock %}
